<html>

<head>
    <title>TẢI FILE</title>
    <meta charset="UTF-8">
</head>

<body>
    <form action="http://localhost:3000/multer" method="post" enctype="multipart/form-data">
        <div>
            <label>FILE ẢNH</label></br>
            <input type="file" name="file" required></br>
        </div>
        <div>
            <label>ID</label></br>
            <input type="text" name="text" required></br>
        </div>
        <input type="submit" value="upload">
    </form>

</body>
   
</html>